<div class="language-panel" style="display: inline-block; vertical-align: middle; padding: 10px;">
    <div class="dropdown" dropdown style="display: inline-block; vertical-align: middle;">
        <label style="margin-right: 10px; font-weight: normal;">{{ 'language' | lang: 'ui' }}</label>
        <div class="dropdown-toggle"
             style="display: inline-block; padding: 6px 7px; border: 1px solid transparent; cursor: pointer; width: auto;"
             dropdown-toggle>
             <a href class="theme-item" style="display: inline-block; min-width: 100px; text-decoration: none; color: #000;">
                {{ getLangLabel(config.lang) }}
             </a>
             <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
            <li><a href ng-click="changeLang('system')">{{ 'systemlanguage' | lang: 'ui' }}</a></li>
            <li class="divider"></li>
            <li ng-repeat="lang in supportedLangs">
                <a href ng-click="changeLang(lang.key)">{{lang.label}}</a>
            </li>
        </ul>
    </div>
</div>
